{% extends 'base.html' %}
{% load static %}

{% block title %} Waiting... | TSRS Crypt Hunt {% endblock title %}


{% block content %}
<style>
    @keyframes spin {
        to {
            transform: rotate(360deg);
        }
    }
    .animate-spin-slow {
        animation: spin 2s linear infinite;
    }

</style>
<main
    class="justify-between flex flex-col px-12 overflow-x-hidden [height:calc(100vh-80px)] md:[height:calc(100vh-128px)] py-24 items-center">

    <div class="flex items-center justfy-center flex-grow text-[12em]">
            <img class="w-48 animate-spin-slow" src="{% static 'assets/smiley-circle-bg.png' %}" alt="">
    </div>

    <div class="text-center ">
        <div class="mb-20">
            <h1
                class="mb-3 text-3xl font-black tracking-wider uppercase md:text-5xl lg:text-6xl text-violet-800 dark:text-violet-300">
                Can't wait to get started?<h1>
                    <sub class="text-lg text-black md:text-2xl dark:text-white">The Crypt Hunt will open at 5:00 PM on
                        Friday, 19th May</sub>
        </div>

        <div class="md:text-lg">
            Check out the <a href="{% url 'about' %}" class="font-medium text-violet-800"> about page</a> to learn more
            about the event.
        </div>

    </div>



</main>
{% endblock %}